:root {
    /* Colors */
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-primary: #009280;
 
    --color-accent: #ff0000;

    --color-gray-100: #f5f5f5;
    --color-gray-200: #e5e5e5;
    --color-gray-800: #333333;
    --color-black-card: #111111;
    /* For the About Me Bento Card */

    /* Typography */
    --font-sans: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-mono: 'Space Mono', monospace;

    /* Spacing */
    --space-xs: 0.5rem;
    /* 8px */
    --space-sm: 1rem;
    /* 16px */
    --space-md: 2rem;
    /* 32px */
    --space-lg: 4rem;
    /* 64px */
    --space-xl: 8rem;
    /* 128px */

    /* Layout */
    --grid-gap: var(--space-md);
    --container-width: 1440px;
}
